body {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
}

.form-group {
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

h1 {
    margin: 30px;
    font-size: 60px;
}

h3 {
    margin: 20px;
    font-size: 25px;
}

input {
    display: inline-block;
    height: 30px;
    width: 320px;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    padding: auto;
    border: none;
    text-align: right;
    border-bottom: solid 2px;
    background: transparent;
    font-size: 15px;
    outline: none;
}

input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgb(253, 253, 253);
    font-size: 15px
}

span {
    margin-left: 30px;
    margin-top: 10px;
    display: inline-flex;
}

#submit {
    background-color: rgba(86, 164, 253, 0.877);
    border-radius: 8px;
    height: 50px;
    width: 320px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
    border: none;
}

#remember {
    margin: 3px;
    height: 10px;
    width: 10px;
}

#username {
    background: url("./profilelogo.png") no-repeat scroll 0 center;
    background-size: 35px;
}

#password {
    background: url("./passwordlogo.png") no-repeat scroll 0 center;
    background-size: 35px;
}

#books {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
}